*{
    margin: 0px;
    padding: 0px;
  }
  .container{
    margin-left: 25px;
  }
  body{
    position: relative;
    width: 1080px;
    height: 800px;
    background: #004980;
  }
  .timer{
    display: flex;
  }
  .title{
    display: flex;
  }
  .button-start{
    width: 246px;
height: 50px;
    background: #7AC100;
border-radius: 12px;
margin-left: 578px;
  }
.minut{
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
color: #ffff;
  }
  .second{
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #ffff;
  }
.title-Min{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
margin-left: 25px;
  }
  .title-Sek{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
margin-left: 57px;
  }

  .photo-Card{
    display: flex;
    margin-top: 35px;
    gap: 15px;
    flex-wrap: wrap;
    margin-right: 26px;
  }
  .card-flip.flip{
    transform:rotateY(180deg);
  }
  img{
    width: 95px;
height: 133px;
  }