*{
  margin: 0px;
  padding: 0px;
}
body{
  display: flex;
  justify-content: space-around;
  margin-top: 158px;
  background: #004980;
}
#square {
  width: 480px;
  height: 459px;
  border-radius: 12px;
 
  font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #004980;
padding-top: 52px;
  background: #C2F5FF;
}
.mainsquare{
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

#smallsquare{
  height: 89px;
  width: 98px;
  background: #ffffff;
border-radius: 12px;
margin-right: 24px;
margin-left: 69px;
display: flex;
align-items: center;
justify-content: space-around;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
}
#smallsquare1{
  height: 89px;
  width: 98px;
  background: #ffffff;
border-radius: 12px;
margin-right: 24px;
display: flex;
align-items: center;
justify-content: space-around;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
}
#smallsquare2{
  height: 89px;
  width: 98px;
  background: #ffffff;
border-radius: 12px;
margin-right: 69px;
display: flex;
align-items: center;
justify-content: space-around;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
}
#startbutton{
  width: 246px;
  height: 50px;
  background: #7AC100;
border-radius: 12px;
margin-top: 68px;
margin-bottom: 48px;
color: #ffffff;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
}